* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------*/
/* Estilos para a seção "Apresentação"*/
/*------------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 30px; 
    z-index: 1000; 
}

header h1{
    margin-left: 20px;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 5em;
    background-color: yellow;
    border-radius: 10px; 
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav li a:hover {
    color: darkred;
}

.apresentacao {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 200px; 
    height: 100vh;
    background-color: green;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.apresentacao p {
    flex-wrap: wrap;
    display: flex;
    color: white; 
    font-size: 24px;
    max-width: 500px; 
}

.imagem {
    width: 400px;
    height: 400px;
    border-radius: 30%;
    object-fit: cover; 
}



/*-----------------------------------*/
/* Estilos para a seção "Sobre Mim" */
/*-----------------------------------*/
.sobre-mim {
    min-height: 100vh;
    background-color: #E3BC9A;
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column; 
    gap: 50px; 
}

.topico-um, .topico-dois {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.topico-dois {
    flex-direction: row-reverse;
}

.imagem-sobre {
    margin: 0px 40px;
    width: 500px;
    height: 400px;
    border-radius: 30%;
    object-fit: cover;
    flex-wrap: wrap;
}

.paragrafos-topico-um, .paragrafos-topico-dois {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    width: 100%;
}

.card {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 30px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    flex: 1; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/*-----------------------------------*/
/* Estilos para a seção "Projetos" */
/*-----------------------------------*/
.projetos {
    min-height: 100vh;
    background-color: cadetblue;
    padding-top: 140px;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: yellow;
    width: 86%;
    min-height: 850px; 
    border-radius: 20px;
    padding: 0px 20px;
}

.titulo-projetos {
    margin: 50px auto 10px auto;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    
}

.article-projetos {
    display: flex;
    justify-content: space-evenly; 
    align-items: stretch; 
    gap: 30px; 
    padding: 20px;
}

.card-projetos {
    flex-wrap: wrap;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    flex: 1; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card-projetos h3 {
    margin: 0 0 10px 0;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.card-projetos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.card-projetos p {
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.card-projetos button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; 
    margin-top: auto; 
}

/*-----------------------------------*/
/* Estilos para a seção "Rodapé" */
/*-----------------------------------*/

.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 50px; 
    background-color: #333; 
    color: white;
}

.informacoes-footer {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.redes-sociais li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px; 
}

.redes-sociais a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.redes-sociais img {
    max-width: 30px;
    max-height: 30px;
}

.contato-footer {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px;
}

.contato-footer button {
    background-color: red;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.facebook, .instagram, .linkedin, .github {
    border-radius: 10px;
    padding: 8px 12px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 8px; 
    color: white; 
    text-decoration: none;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #e1306c;  
}
    
.linkedin {
    background-color: #0584c8;
}

.github {
    background-color: #022149; 
}